/* DanBalthaser.com (c) Dan Balthaser 2011 */
/*
You'll notice that the background: rbga... tags are commented out.
Hooray for IE. :-P IE9 properly supports this. IE 7-8, not so much.
*/
body
{
	margin: 0;
	background-image: url('./globalAssets/background.jpg');
	background-position: top, center;
	background-attachment: fixed;
	background-color: #000000;
}

p
{
	text-indent: 25px;
}

a:link
{
	color: #fff;
	text-decoration: underline;
}
a:active
{
	color: #fff;
	text-decoration: underline;
}
a:visited
{
	color: #ddd;
	text-decoration: underline;
}
a:hover
{
	color: #bbb;
	text-decoration: none;
}

/*
This is supposed to float over top of the banner at the top but IE8
doesn't seem to think this is cool. IE9 fixes that and chrome, 
Firefox, opera and safari properly display it.
*/
.TopBanner
{
	width: 100%;
	height: 58px;	
	background-image: url('./globalAssets/bg.png');
	float: left;
}

.TitleContainer
{
	width: 750px;
	text-align: left;
	padding-left: 25px;
	padding-top: 7px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 36px;
	text-shadow: rgba(0, 0, 0, 0.496094) 0px 2px 4px;
	vertical-align: middle;
}

.ApplicationTitle
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	text-shadow: rgba(0, 0, 0, 0.496094) 0px 2px 4px;
}

/* Changes the | com to grey*/
.Tld
{
	color: #ccc;
	font-weight: normal;
}

.MainBody
{
	width: 750px;
	text-align: left;
	background-image: url('./globalAssets/bg.png');
}

.BannerSpacing
{
	height: 203px;
}

.MenuSpacing
{
	height: 11px;
}

.Menu
{
	text-align: center;
	width: 100%;
	height: 58px;
	background-image: url('./globalAssets/bg.png');
}

.MainContent
{
	width: 720px;
	color: #fff;
	text-align: left;
}

.Footer
{
	height: 58px;
	width: 100%;
	color: #bbb;
	text-align: center;
	background-image: url('./globalAssets/bg.png');
}